server/resources/inscripcionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://inscripcion.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://inscripcion.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://inscripcion.com">
			<xs:include schemaLocation="inscripcion.xsd"/>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="mainMessageRequest">
    <wsdl:part name="parameter" element="tns:mainRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarAlumnoMessageResponse">
    <wsdl:part name="parameter" element="tns:validarAlumnoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarHorarioMessageRequest">
    <wsdl:part name="parameter" element="tns:registrarHorarioRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarPagoMessageResponse">
    <wsdl:part name="parameter" element="tns:validarPagoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mainMessageResponse">
    <wsdl:part name="parameter" element="tns:mainResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarPagoMessageRequest">
    <wsdl:part name="parameter" element="tns:validarPagoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarAlumnoMessageRequest">
    <wsdl:part name="parameter" element="tns:validarAlumnoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrarHorarioMessageResponse">
    <wsdl:part name="parameter" element="tns:registrarHorarioResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="inscripcionPortType">
    <wsdl:operation name="mainOperation">
      <wsdl:input message="tns:mainMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:mainMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarAlumnoOperation">
      <wsdl:input message="tns:validarAlumnoMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:validarAlumnoMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarHorarioOperation">
      <wsdl:input message="tns:registrarHorarioMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:registrarHorarioMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarPagoOperation">
      <wsdl:input message="tns:validarPagoMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:validarPagoMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="inscripcionBinding" type="tns:inscripcionPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mainOperation">
      <soap:operation soapAction="http://inscripcion.com/mainOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarAlumnoOperation">
      <soap:operation soapAction="http://inscripcion.com/validarAlumnoOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarHorarioOperation">
      <soap:operation soapAction="http://inscripcion.com/registrarHorarioOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarPagoOperation">
      <soap:operation soapAction="http://inscripcion.com/validarPagoOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="inscripcionService">
    <wsdl:port name="inscripcionPort" binding="tns:inscripcionBinding">
      <soap:address location="http://localhost:8080/axis2/services/inscripcionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
